body
{
    background-color: #dc143c;
    font-family:Arial, Helvetica,sans-serif;
    color: #333333; 
}

.column
{
    display:block;
    background-color:#fff8dc;
    width: 28%;
    float: left;
    margin: 2%;
    padding-left:1%;
}

[src = "Baked-garlic-cheese-grits_lg.15292258_std.jpg"]
{
    width: 98%;
    height: auto;
}

[src = "TexasCaviar.jpg"]
{
    width: 98%;
    height: auto;
}

[src = "BabinkasPotatoSalad.jpg"]
{
    width: 98%;
    height: auto;
}
button
{
    background-color:#ffdb19;
    font-family:garamond    
}

h1
{
    color: #ffdb19;
    text-shadow: 2px 2px #696969;
    font-family:'Kelly Slab', cursive;
    text-align:center;
}
h2
{
    font-family: 'Kelly Slab', cursive;
}
ul>li
{
    list-style-type:square;
}
    